{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-flow-strip-types"
  ],
  "retainLines": true,
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "node": true
            }
          }
        ],
        "stage-1"
      ]
    }
  }
}
