{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "class-property",
    "react",
    "ava",
    "flowtype",
    "flow-vars"
  ],
  "extends": [
    "airbnb",
    "airbnb-flow",
    "plugin:ava/recommended"
  ],
  "rules": {
    "ava/assertion-arguments": "error",
    "ava/no-async-fn-without-await": "error",
    "ava/no-duplicate-modifiers": "error",
    "ava/no-identical-title": "error",
    "ava/no-statement-after-end": "error",
    "ava/no-todo-implementation": "error",
    "ava/no-unknown-modifiers": "error",
    "ava/prefer-async-await": "error",
    "ava/test-ended": "error",
    "ava/test-title": ["error", "if-multiple"],
    "ava/use-t": "error",
    "ava/use-test": "error",
    "ava/use-true-false": "error",
    "comma-dangle": [ "error", "always-multiline" ],
    "curly": [ "error", "multi-line" ],
    "dot-notation": [ "error", { "allowKeywords": true } ],
    "eqeqeq": [ "error", "smart" ],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "no-alert": "error",
    "no-cond-assign": [ "error", "always" ],
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-lonely-if": "error",
    "no-magic-numbers": [ "error", { "ignoreArrayIndexes": true } ],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1, "maxBOF": 1 }],
    "no-path-concat": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-unexpected-multiline": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "semi": [ "error", "always", { "omitLastInOneLineBlock": true } ],
    "valid-typeof": "error",
    "vars-on-top": "error"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
